body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.form-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

header {
    text-align: center;
}

.logo {
    margin-bottom: 10px;
}

.image{
    width: 90px;
    margin-left: 65%;
}
h1 {
    font-size: 24px;
    margin: 10px 0;
}

h2 {
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}

form {
    margin-top: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}
input{
}

textarea, input[type="text"], input[type="email"], input[type="number"], table {
    width: 100%;
    margin-bottom: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.row label {
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;